{% extends "base.html" %}

{% block content %}


<div class="container">
    
        <div class="col-md-6">
            <div class="form-group">
                
                    <form action="/add" method="post">
                        <div class="form-group">
                            <input class="form-control" type="text" name="rut" placeholder="RUT" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="razon_social" placeholder="Razon Social" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="cod_banco" placeholder="Cod. Banco" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="banco" placeholder="Banco" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="tipo_cta" placeholder="Tipo" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="num_cta" placeholder="Numero de Cuenta" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="email" placeholder="Correo Electronico">
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Agregar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<h1 style="text-align:center;">Cuentas Bancarias Proveedores</h1>
<div class="container">
    <div class="col-md-6">
        <div>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por RUT..">
            <table class="table table-bordered table-hover" id="myTable">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>RUT</th>
                    <th>Razon Social</th>
                    <th>Cod. Banco</th>
                    <th>Banco</th>
                    <th>Tipo</th>
                    <th>Numero de Cuenta</th>
                    <th>Correo Electronico</th>
                    <th>Operaciones</th>
                </tr>
                </thead>
                <tbody>
                {% for entry in entries %}
                <tr>
                    <td>{{ entry.id }}</td>
                    <td><strong>{{ entry.rut }}</strong></td>
                    <td>{{ entry.razon_social }}</td>
                    <td>{{ entry.cod_banco }}</td>
                    <td>{{ entry.banco }}</td>
                    <td>{{ entry.tipo_cta }}</td>
                    <td>{{ entry.num_cta }}</td>
                    <td>{{ entry.email }}</td>
                    <td>
                        <a class="btn btn-danger"
                           href="/delete/{{ entry.id }}">
                            Eliminar
                        </a>
                        <a class="btn btn-info"
                           href="/update/{{ entry.id }}">
                            Editar
                        </a>
                    </td>
                </tr>
        </div>    
    </div>
</div>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>
</div>

{% endblock %}





